
.whiteTitle{
   
    top:15%; /*how far from top of the page*/
	
    width:100%;
	  font-family: 'Courgette', cursive;
    font-size:4em;
    text-align:center;
    color:white; 
}

h2, table{
    width:100%;
	font-family: 'Courgette', cursive;
    font-size:4em;
    text-align:center;
    transform:translate ;
    color:#fff;
    transform:translateY (-50%);
}

li{
	  font-family: 'Ariel', cursive;
    font-size:20px;
    --text-align:center;
    transform:translate ;
	 color:#00FFFF; /*light green*/
    transform:translateY (-50%);
}




h1 {
  font-size: 50px;
}


h2,ul {
  font-size: 30px;
}



h2  ,div, p,ul,label{

	/*gold effect on text*/
	background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);

	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:22px;
}

a, button {
  background-color: red;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  
  text-transform: uppercase;
  
}



body{
  text-align:center;
   background:black;
}



p { color: #ffffff;font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 500; line-height: 32px; margin: 0 0 24px; }



img{
	width:200px;
}

.roundImg {
  border-radius: 50%;
   width: 20%;
   height:50%
}







